---
layout: page
---

<p><a href="#cfps" class="more scrolly">Aktuelle Einreichungen</a> | 
<a href="#conferences" class="more scrolly">Alle meine Konferenzen</a> |
<a href="#other-conferences" class="more scrolly">Andere Konferenzplanner</a></p>

<h2 id="cfps"><i class="fa fa-bullhorn" aria-hidden="true"></i> Einreichungen</h2>

{% assign conferences = site.data.conferences %}

{% assign showOnlyLastMonths = 3  %}
{% assign secondsSinceLastMonths = 60 | times: 60 | times: 24 | times: 30 | times: showOnlyLastMonths  %}
{% assign showSince = 'now' | date: "%s" | minus : secondsSinceLastMonths %}
<!-- TODO: nur die CfPs der letzten x Monate anzeigen -->

<p>Legende: <i class="fa-solid fa-hourglass" aria-hidden="true" style="color:black"></i> offen, <i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i> angenommen, <i class="fa fa-thumbs-down" aria-hidden="true" style="color:red"></i> abgelehnt/abgesagt</p>
{% for year in site.data.cfps %}
    {% if year[0] != "ideas" %}
    <h1 style="color:black; font-size: 2em;">{{ year[0] }}</h1>
    {% for submissions in year[1] %}
        {% for submission in submissions %}
{% assign conf = conferences | where: "id", submission[0] | first %}
{% assign cfp = submission[1] %}
<h4><a href="{% if cfp.url %}{{cfp.url}}{% else %}{{conf.url}}{% endif %}">{% if cfp.canceled %}<del>{{ conf.name }}</del>{% else %}{{ conf.name }}{% endif %} ({{ cfp.location | default: conf.location }}{% if cfp.canceled %}, <span style="color:red;">Abgesagt</span>{% endif %}) <img style="height:1em" src="/assets/images/conferences/{{ conf.id }}.png" alt="{{ conf.name }}" /></a></h4>
<div style="margin:20px;">
{% if cfp.from %}<b>Zeitraum:</b> {{ cfp.from | date: "%-d %B %Y" }}{% if cfp.till %} - {{ cfp.till | date: "%-d %B %Y" }}{% endif %}{% unless cfp.submitted %}{% if cfp.deadline %} (<b>Einreichungsende:</b> {{ cfp.deadline | date: "%-d %B %Y" }}){% endif %}{% endunless %}{% endif %}
{% if cfp.talks %}<p style="margin-bottom: 0;"><b>Einreichungen{% if cfp.submitted %} (vom {{ cfp.submitted | date: "%-d %B %Y" }}){% endif %}:</b></p>
<ul class="talk-list">
        {% for talk in cfp.talks %}
        {% assign talkIdOrTitle = talk[0] | default: talk %}
        {% assign portfolioTalk = site.data.portfolio.talks | where: "id", talkIdOrTitle | first %}
        <li>{% if portfolioTalk %}<a href="/portfolio#{{ portfolioTalk.id }}">{{ portfolioTalk.title.de }}</a>{% else %}{{ talkIdOrTitle }}{% endif %} (Status: <i class="fa-solid fa-{% if talk[1] == 'x' %}check-circle{% elsif talk[1] == 'n' %}thumbs-down{% else %}hourglass{% endif %}" aria-hidden="true" style="color:{% if talk[1] == 'x' %}green{% elsif talk[1] == 'n' %}red{% else %}black{% endif %}"></i>)</li>
        {% endfor %}
</ul>
{% else %}
<b>Nicht eingereicht!</b>
{% endif %}
</div>
        {% endfor %}
    {% endfor %}
    {% endif %}
{% endfor %}

<hr/>
<h2 id="conferences"><i class="fa fa-microphone" aria-hidden="true"></i> Konferenzen</h2>
<p>Konferenzen, bei denen ich regelmässig einreiche ...</p>

{% assign all_seasons =  site.data.conferences | map: "season" | uniq %}

{% for season in all_seasons %}
<h4>{{ season }}</h4>
<div style="margin:20px;">
<ul>
{% assign conferences = site.data.conferences | where: "season", season %}
{% for conference in conferences %}
{% for static_file in site.static_files %}
    {% assign path = '/assets/images/conferences/' | append: conference.id | append: '.svg' %}
    {% if static_file.path == path %}
        {% assign conf_logo = '/assets/images/conferences/' | append: conference.id | append: '.svg' %}
    {% else %}    
        {% assign conf_logo = '/assets/images/conferences/' | append: conference.id | append: '.png' %}
    {% endif %}
{% endfor %}
<li><a href="{{ conference.url }}">{{ conference.name }}</a> ({{ conference.location }}) <img style="height:1em" src="/assets/images/conferences/{{ conference.id }}.png" alt="{{ conference.name }}" /></li>
{% endfor %}
</ul>
</div>
{% endfor %}

<h2 id="other-conferences"><i class="fa fa-microphone" aria-hidden="true"></i> Weitere Konferenzplanner</h2>
<p>Andere Sammlungen für interessante Call for Papers ...</p>

{{content}}